doctype html
html
	head
		script(type="text/javascript", src="underscore.js")
		script(type="text/javascript", src="calamity.js")
		script(type="text/javascript", src="calamity-workerbridge.js")
		script(type="text/javascript", src="frame.js")
	body
		p Frame script for the tests on the main page.
