doctype html
html
	head
		script(type="text/javascript", src="underscore.js")
		script(type="text/javascript", src="calamity.js")
		script(type="text/javascript", src="calamity-workerbridge.js")
		script(type="text/javascript", src="index.js")
	style(type="text/css").
		body, html {
			margin: 0;
			padding: 0;
		}
		textarea {
			width: 100%;
			height: 100%;
			border: none;
		}
	body
		textarea#log
