doctype html
html
	head
		title Calamity Worker Bridge Test

		// Jasmine.
		link(rel="stylesheet" type="text/css" href="jasmine.css")
		script(type="text/javascript", src="jquery.js")
		script(type="text/javascript", src="jasmine.js")
		script(type="text/javascript", src="jasmine-html.js")
		script(type="text/javascript", src="boot.js")

		// App code.
		script(type="text/javascript", src="underscore.js")
		script(type="text/javascript", src="calamity.js")
		script(type="text/javascript", src="calamity-workerbridge.js")

		// Testing code.
		script(type="text/javascript", src="sinon.js")
		script(type="text/javascript", src="spec.js")

		style(type="text/css").
			iframe {
				border: none;
				margin: 0;
				padding: 0;
				width: 0;
				height: 0;
				float: right;
			}
		body
			iframe(src="frame.html")
			h1 Calamity Worker Bridge Test
